body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}
.btnchx{
    padding: 1rem 2rem;
    font-size: 20px;
    margin: 0 1rem;
    border: none;
}
.btnchx{
    outline: 1px solid;
}
#feu{
    background-color: red;
}
#feu:hover{
    background-color: darkred;
}
#terre{
    background-color: orange;
}
#terre:hover{
    background-color: darkorange;
}
#eau{
    background-color: aqua;
}
#eau:hover{
    background-color: blue;
}
#reset{
    padding: 1rem 2rem;
    font-size: 20px;
}